.table {
  max-width: 60em;
  margin: auto;
}
tr {
  width: fit-content;
}
#clock {
  float: right;
  color: #fff;
  background-color: #3f51b5;
  transition: 0.5s;
}

#clock-font{
  font-size: 3rem;
  cursor: pointer;
  transition: 0.2s;
}

.faded {
  opacity: 0;
}
