#root {
  background-color: #555;
}
html {
  background-color: #555;
}

#admin-management-title {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.grey-row {
  background-color: #f2f2f2;
}

.logo {
  float: left;
}

.tasks-div-container {
  max-width: 60em;
  margin: auto;
  overflow-wrap: break-word;
  margin-top: 2em;
}

.td-class {
  width: 12em;
}

/* ============ Login - Signup =============== */

.login-signup-container {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}

.login-signup-card {
  border: 0.1 solid black;
  background-color: f2f2f2;
  border-radius: 50px;
  padding: 5rem;
  width: 40%;
  height: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition-property: width;
  transition-duration: 2s;
}
.login-signup-card:hover {
  width: 42%;
}

.login-signup-link {
  display: flex;
  justify-content: center;
  color: rgb(241, 241, 72);
}

.login-signup-link:hover {
  cursor: pointer;
}

/* ===================================== */

/* Table user*/
.table {
  max-width: 60em;
  margin: auto;
}
tr {
  width: fit-content;
}

/* Clock component */
#clock {
  float: right;
  color: #fff;
  margin: auto;
  background-color: #3f51b5;
  transition: 0.5s;
}

#clock-font {
  font-size: 3rem;
  cursor: pointer;
  transition: 0.2s;
}

.faded {
  opacity: 0;
}

// ==================file-table===================

.file-Table {
  width: 100%;
  font-size: 1em;
}

.fileTable-container {
  padding: 2rem;
  margin: auto;
  margin-top: 2em;
  background-color: ghostwhite;
  width: 60%;
  border-radius: 5px;
}

/* ===============tasks table================*/
.deadline-div {
  width: fit-content;
  padding: 0.3rem 0.6rem;
  border-radius: 50px;
  border-width: 2px;
  border-style: solid;
  font-size: 0.8125rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

/* Disable text select **/
thead,
#header,
#clock {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media screen and (max-width: 320px) {
  #clock-font {
    font-size: 0.1em;
  }
  .file-Table {
    font-size: 0.5em;
  }
}
@media screen and (max-width: 823px) {
  .file-Table {
    font-size: 1px;
  }
}
@media screen and (max-width: 1000px) {
  #clock-font {
    font-size: 2.5rem;
  }
  .file-Table {
    font-size: 0.8rem;
  }
}
// =====================================

.super-admin-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.super-admin-div-card {
  background-color: #eefbfb;
  width: 40%;
  margin-top: 2em;
  padding: 2em;
  border-radius: 50px;
}
