@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Roboto:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
.setup-logo {
  width: 40vw;
  height: 90vh;
  margin: auto;
}

.setup-logo-container {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.setup-logo-container > .setup-logo {
  -webkit-animation: logo 2s alternate infinite linear;
          animation: logo 2s alternate infinite linear;
  display: inline-block;
}

.fade-out {
  -webkit-animation: fadeOut 1s;
          animation: fadeOut 1s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  opacity: 1;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#root {
  background-color: #555;
}

html {
  background-color: #555;
}

#admin-management-title {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.grey-row {
  background-color: #f2f2f2;
}

.logo {
  float: left;
}

.tasks-div-container {
  background-color: ghostwhite;
  max-width: 65em;
  margin: auto;
  overflow-wrap: break-word;
  margin-top: 2em;
  padding: 2rem;
  padding-top: 1rem;
  padding-bottom: 0;
  border-radius: 5px;
}

.task-table-row {
  height: 0.2vh;
}

.td-class {
  width: 12em;
}

/* ============ Login - Signup =============== */
.login-signup-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
  width: 100%;
}

.login-signup-card {
  border: 0.1 solid black;
  background-color: #f2f2f2;
  border-radius: 50px;
  padding: 5rem;
  width: 41%;
  height: 70vh;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  -webkit-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}

.login-signup-card:hover {
  width: 42%;
}

.login-signup-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #3b768a;
}

.login-signup-link:hover {
  cursor: pointer;
}

.error-div {
  color: crimson;
  text-align: center;
}

/* ===================================== */
/* Table user*/
.table {
  max-width: 60em;
  margin: auto;
}

tr {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

/* Clock component */
#clock {
  float: right;
  color: #fff;
  margin: auto;
  background-color: #3f51b5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#clock-font {
  font-size: 3rem;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.faded {
  opacity: 0;
}

.dashboard-container {
  margin: auto;
  margin-right: 3rem;
  margin-top: 1em;
  width: 80%;
  height: 80vh;
  padding-top: 1em;
  border-radius: 10px;
  background-color: #eefbfb;
}

.pie-chart-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

.pie-chart-tags {
  margin: auto;
}

.dashboard-items-container {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Mono", monospace;
}

.num-of-tasks {
  margin-top: 3.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 8rem;
  width: 10rem;
  height: 10rem;
  padding: 3rem;
  font-family: "Roboto Mono", monospace;
}

.roboto-font {
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-family: "Roboto Mono", monospace;
}

.quote-container {
  width: 40vw;
  padding: 1rem;
  margin: auto;
  border: 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0.5px 0.5px 2.5px 2.5px #e7e7e7;
          box-shadow: 0.5px 0.5px 2.5px 2.5px #e7e7e7;
  background-color: #fff;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.quote-container:hover {
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  width: 41.5vw;
}

.file-Table {
  width: 100%;
  font-size: 1em;
  background-color: white;
}

.fileTable-container {
  padding: 2rem;
  margin: auto;
  margin-top: 2em;
  background-color: ghostwhite;
  width: 60%;
  border-radius: 5px;
}

.file-description-div-container {
  position: absolute;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fed262;
  border-radius: 10px;
  height: 10vh;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 30vw;
}

.file-description-div {
  overflow-wrap: break-word;
  word-break: break-all;
  padding: 1rem;
  float: right;
}

#description-question-mark:hover {
  cursor: pointer;
}

.dot-1 {
  -webkit-animation: dot-1 1s infinite linear;
          animation: dot-1 1s infinite linear;
  font-size: 3rem;
}

.dot-2 {
  -webkit-animation: dot-1 1s infinite linear;
          animation: dot-1 1s infinite linear;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
  font-size: 3rem;
}

.dot-3 {
  -webkit-animation: dot-1 1s infinite linear;
          animation: dot-1 1s infinite linear;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  font-size: 3rem;
}

@-webkit-keyframes dot-1 {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0.5;
  }
  60%,
  100% {
    opacity: 0;
  }
}

@keyframes dot-1 {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0.5;
  }
  60%,
  100% {
    opacity: 0;
  }
}

/* ===============tasks table================*/
.deadline-div {
  width: 7rem;
  padding: 0.3rem 0.6rem;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  font-size: 0.8125rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

/* Disable text select **/
thead,
#header,
#clock {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media screen and (max-width: 320px) {
  #clock-font {
    font-size: 0.1em;
  }
  .file-Table {
    font-size: 0.5em;
  }
}

@media screen and (max-width: 823px) {
  .file-Table {
    font-size: 1px;
  }
}

@media screen and (max-width: 1000px) {
  #clock-font {
    font-size: 2.5rem;
  }
  .file-Table {
    font-size: 0.8rem;
  }
}

.super-admin-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.super-admin-div-card {
  background-color: #eefbfb;
  width: 40%;
  margin-top: 2em;
  padding: 2em;
  border-radius: 50px;
}

.settings-container {
  padding: 2rem;
  width: 50rem;
  margin: auto;
  margin-top: 2em;
  background-color: ghostwhite;
  border-radius: 5px;
}

.refresh-button {
  cursor: pointer;
  border-radius: 50%;
}

.refresh-button:hover {
  background-color: #faecec;
}

.refresh-button:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.change-team-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.table-actions {
  text-align: center;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

.table-actions > div > label {
  margin-right: 0.5rem;
  font-weight: bold;
}

.table-actions > div > select {
  outline: none;
  padding: 0.3rem;
}

.search-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 13rem;
}

.search-input {
  width: 100%;
  height: 1.6rem;
  border-radius: 35px;
  background: transparent;
  outline: none;
  border: 3px solid #4c575f;
  padding: 0.8rem;
  font-size: 1rem;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.hidden {
  visibility: hidden;
  width: 0;
}

.search-button {
  border: none;
  background: transparent;
  outline: none;
}

.search-button:hover {
  -webkit-animation: circle 0.5s linear;
          animation: circle 0.5s linear;
}

@-webkit-keyframes circle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes circle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#search-icon {
  font-size: 2rem;
}

.not-found-container {
  font-family: "Montserrat", sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.h1-not-found {
  color: #e7ebf2;
  font-size: 12.5rem;
  letter-spacing: 0.1em;
  margin: 0.025em 0;
  text-shadow: 0.05em 0.05em 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
}

.h1-not-found > .span-not-found {
  -webkit-animation: spooky 2s alternate infinite linear;
          animation: spooky 2s alternate infinite linear;
  color: #528cce;
  display: inline-block;
}

.h2-not-found {
  color: #e7ebf2;
  margin-bottom: 0.4em;
}

.p-not-found {
  color: #ccc;
  margin-top: 0;
}

@-webkit-keyframes spooky {
  from {
    -webkit-transform: translatey(0.15em) scaley(0.95);
            transform: translatey(0.15em) scaley(0.95);
  }
  to {
    -webkit-transform: translatey(-0.15em);
            transform: translatey(-0.15em);
  }
}

@keyframes spooky {
  from {
    -webkit-transform: translatey(0.15em) scaley(0.95);
            transform: translatey(0.15em) scaley(0.95);
  }
  to {
    -webkit-transform: translatey(-0.15em);
            transform: translatey(-0.15em);
  }
}

@-webkit-keyframes logo {
  from {
    -webkit-transform: translatey(0.15em) scaley(0.95);
            transform: translatey(0.15em) scaley(0.95);
  }
  to {
    -webkit-transform: translatey(-0.15em);
            transform: translatey(-0.15em);
  }
}

@keyframes logo {
  from {
    -webkit-transform: translatey(0.15em) scaley(0.95);
            transform: translatey(0.15em) scaley(0.95);
  }
  to {
    -webkit-transform: translatey(-0.15em);
            transform: translatey(-0.15em);
  }
}
/*# sourceMappingURL=App.css.map */