@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Roboto:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

#root {
  background-color: #555;
}
html {
  background-color: #555;
}

#admin-management-title {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.grey-row {
  background-color: #f2f2f2;
}

.logo {
  float: left;
}

.tasks-div-container {
  background-color: ghostwhite;
  max-width: 65em;
  margin: auto;
  overflow-wrap: break-word;
  margin-top: 2em;
  padding: 2rem;
  border-radius: 5px;
}

.td-class {
  width: 12em;
}

/* ============ Login - Signup =============== */

.login-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 50%;
}

.login-signup-container {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}

.login-signup-card {
  border: 0.1 solid black;
  background-color: f2f2f2;
  border-radius: 50px;
  padding: 5rem;
  width: 41%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition-property: width;
  transition-duration: 2s;
}
.login-signup-card:hover {
  width: 42%;
}

.login-signup-link {
  display: flex;
  justify-content: center;
  color: rgb(241, 241, 72);
}

.login-signup-link:hover {
  cursor: pointer;
}

/* ===================================== */

/* Table user*/
.table {
  max-width: 60em;
  margin: auto;
}
tr {
  width: fit-content;
}

/* Clock component */
#clock {
  float: right;
  color: #fff;
  margin: auto;
  background-color: #3f51b5;
  transition: 0.5s;
}

#clock-font {
  font-size: 3rem;
  cursor: pointer;
  transition: 0.2s;
}

.faded {
  opacity: 0;
}

// ====================Dashboard=====================
.dashboard-container {
  margin: auto;
  margin-right: 3rem;
  margin-top: 1em;
  width: 80%;
  height: 80vh;
  padding-top: 1em;
  border-radius: 10px;
  background-color: #eefbfb;
}

// =============== pie-chart ====================
.pie-chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.pie-chart-tags {
  margin: auto;
}

.dashboard-items-container {
  margin-top: 3rem;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Mono", monospace;
}
.num-of-tasks {
  margin-top: 3.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8rem;
  width: 10rem;
  height: 10rem;
  padding: 3rem;
  font-family: "Roboto Mono", monospace;
  // font-family: "Roboto", sans-serif;
  // border: 1px solid black;
  // border-radius: 50%;
  // background-color: #fff;
  // box-shadow: 0.5px 0.5px 2.5px 2.5px rgb(231, 231, 231);
}

.roboto-font {
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-family: "Roboto Mono", monospace;
}

.quote-container {
  width: 40vw;
  padding: 1rem;
  margin: auto;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  box-shadow: 0.5px 0.5px 2.5px 2.5px rgb(231, 231, 231);
  background-color: #fff;
  transition-duration: 0.5s;
}
.quote-container:hover {
  transition: width 0.5s;
  width: 41.5vw;
}

// ==================file-table===================

.file-Table {
  width: 100%;
  font-size: 1em;
  background-color: white;
}

.fileTable-container {
  padding: 2rem;
  margin: auto;
  margin-top: 2em;
  background-color: ghostwhite;
  width: 60%;
  border-radius: 5px;
}

/* ===============tasks table================*/
.deadline-div {
  width: 7rem;
  padding: 0.3rem 0.6rem;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  font-size: 0.8125rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

/* Disable text select **/
thead,
#header,
#clock {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media screen and (max-width: 320px) {
  #clock-font {
    font-size: 0.1em;
  }
  .file-Table {
    font-size: 0.5em;
  }
}
@media screen and (max-width: 823px) {
  .file-Table {
    font-size: 1px;
  }
}
@media screen and (max-width: 1000px) {
  #clock-font {
    font-size: 2.5rem;
  }
  .file-Table {
    font-size: 0.8rem;
  }
}
// =====================================

.super-admin-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.super-admin-div-card {
  background-color: #eefbfb;
  width: 40%;
  margin-top: 2em;
  padding: 2em;
  border-radius: 50px;
}

// =============settings================

.settings-container {
  padding: 2rem;
  width: 50rem;
  margin: auto;
  margin-top: 2em;
  background-color: ghostwhite;
  border-radius: 5px;
}

// ============team management=========

.refresh-button {
  cursor: pointer;
  border-radius: 50%;
}

.refresh-button:hover {
  background-color: rgb(250, 236, 236);
}

.refresh-button:active {
  transform: scale(0.8);
}
.change-team-div {
  display: flex;
  justify-content: space-evenly;
}

// ============table actions=========

.table-actions {
  text-align: center;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-around;
  position: relative;
  > div > label {
    margin-right: 0.5rem;
    font-weight: bold;
  }
  > div > select {
    outline: none;
    padding: 0.3rem;
  }
}

.search-div {
  display: flex;
  width: 13rem;
}

.search-input {
  width: 100%;
  height: 1.6rem;
  border-radius: 35px;
  background: transparent;
  outline: none;
  border: 3px solid rgb(76, 87, 95);
  padding: 0.8rem;
  font-size: 1rem;
  transition: width 0.5s;
}

.hidden {
  visibility: hidden;
  width: 0;
}

.search-button {
  border: none;
  background: transparent;
  outline: none;
  &:hover {
    animation: circle 0.5s linear;
  }
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#search-icon {
  font-size: 2rem;
}

// ================page 404 ================

.not-found-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  text-align: center;
}

.h1-not-found {
  color: $heading;
  font-size: 12.5rem;
  letter-spacing: 0.1em;
  margin: 0.025em 0;
  text-shadow: 0.05em 0.05em 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;

  & > .span-not-found {
    animation: spooky 1.5s alternate infinite linear;
    color: $ghost;
    display: inline-block;
  }
}

.h2-not-found {
  color: $heading;
  margin-bottom: 0.4em;
}

.p-not-found {
  color: #ccc;
  margin-top: 0;
}

@keyframes spooky {
  from {
    transform: translatey(0.15em) scaley(0.95);
  }

  to {
    transform: translatey(-0.15em);
  }
}
